<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Plac Plac</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/dist/css/bootstrap.min.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<div class="container" style="margin-top: 20px;">
		<div class="jumbotron">
			<h1>Plac Plac</h1>
			<p>O objetivo dessa aplicação é possibilitar que os futuros
				motoristas possam praticar o reconhecimento das diversas placas de
				trânsito. Clique no botão a seguir para começar a praticar.</p>
			<p>
				<a id="busca-placa" th:href="@{/placa}"
					class="btn btn-lg btn-primary" role="button">Nova Placa</a>
			</p>
		</div>
		
		<div class="row">
			<div class="col-md-offset-2 col-md-3">
				<img id="imagem-placa" src="" class="img-fluid" />
				<span id="sigla-placa"></span>
			</div>
			<div id="resposta" class="col-md-5">
				<h3 id="titulo-placa"></h3>
				<p id="descricao-placa"></p>
			</div>
		</div>
		
	</div>

	<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/placas.js}"></script>
</body>
</html>